#main-menu  li:has(> a[href="https://eduranga.pl/librus"])
{
	display: none;
}

/* useless - it just redirects to "how to install translator extension" */
select#language {
	display: none;
}

#graphic-menu li:has(> a[href="/gateway/ms/studentdatapanel/ui/"]),
#graphic-menu li:has(> a[href="/bezpiecznyUczen"]) {
	display: none;
}

#main-menu .main-menu-list li:has(> a[href="/ankiety_admin_ankiety"]), /* wtf is this endpoint name */
#main-menu .main-menu-list li:has(> a[href^="/help"]) {
	display: none;
}

div#footer {
	display: none;
}

/* /przegladaj_oceny/uczen */
div.container-icon:has(> table > tbody > tr > td > img[src="/images/naglowek_uczen.png"]) {
	display: none;
}
