@media (max-width: 1099px) {
	form[action="/terminarz"] {
		.container-background {
			padding-left: 0;
			padding-right: 0;
		}
	}

	img#top-banner {
		visibility: hidden;
		width: 0;
		pointer-events: none;
	}
	a:has(img#top-banner) {
		pointer-events: none;
	}
}
